#header-auth {
    .sign-in-btn {
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    .sign-up-btn {
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}
